body{
    margin:0;
    padding:0;
    background-image: 
    linear-gradient(
  to right,
  rgb(255, 255, 255  )20%,
  rgb(255, 255, 255  )50%,
  #0073FF 50%,
  #0073FF 100%,
  rgb(255, 255, 255  ) 100%
);
}

#managerMap{
    display: flex;
}

#volunteers{
    width:50vw;
}

#managerMapWrapper{
    position:absolute;
    left:50vw;
    width:50vw;
    height:100vh;
}